@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Righteous&display=swap');

:root {
    --bg-color: rgba(0, 0, 0, 0.65);
    --text-color: #eeeeee;
    --text-color-alt: #cccccc;
    --template-color: #F1B730;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    width: 90vw;
    height: 90vh;
    background-color: var(--bg-color);
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    box-shadow: 0 0 3vw #111111;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

main::-webkit-scrollbar {
    display: none;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(var(--bg-color) 30%, #00000000);
}

.logo img {
    width: 10rem;
}

.cities-theme {
    height: 100%;
    display: flex;
    align-items: center;
}

.cities-theme i {
    font-size: 1.5rem;
    color: var(--template-color);
    cursor: pointer;
}

.reload {
    cursor: pointer;
}

.location-icon {
    margin-left: 1.5rem;
    cursor: pointer;
}

.locations {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    height: max-content;
    width: 20rem;
    backdrop-filter: blur(1rem);
    background-color: var(--bg-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s;
    transform: scale(0);
    transform-origin: right;
    z-index: 99999999;
    border-radius: 2rem;
}

.locations-open {
    transform: scale(1);
}

.close-locations {
    align-self: end;
    margin-bottom: 2rem;
    color: var(--template-color);
    cursor: pointer;
}

.close-locations i {
    font-size: 1.5rem;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
}

.city-input {
    padding: 0.7rem;
    outline: none;
    border: 0.13rem solid var(--text-color-alt);
    background-color: var(--bg-color);
    box-shadow: 0 0 1rem #11111155;
    border-radius: 1rem;
    color: var(--text-color);
    font-size: 1rem;
    width: 100%;
}

.input i {
    position: absolute;
    right: 1rem;
    color: var(--text-color-alt);
    font-size: 1rem;
    cursor: pointer;
}

.added-locations {
    margin-top: 3rem;
    overflow-y: scroll;
    width: 110%;
    height: 58vh;
}

.added-location-title {
    font-family: "Righteous", sans-serif !important;
    color: var(--template-color);
}

.added-locations ul {
    width: 90%;
}

.added-locations::-webkit-scrollbar {
    width: 0.3rem;
}

.added-locations ul li {
    padding: 2rem 1rem;
    list-style: none;
    border-bottom: 0.1rem solid var(--text-color-alt);
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.added-locations ul li:hover {
    transform: scale(1.1);
}

.added-locations ul li.selected {
    border-color: var(--template-color);
}

.added-locations ul li:first-child {
    margin-top: 0.5rem;
}

.locations-cities-name {
    font-weight: bold;
    color: var(--text-color);
}

.locations-cities-name a {
    color: var(--text-color);
    text-decoration: none;
}

.delete-location {
    color: var(--template-color);
    margin-right: 0.5rem;
    cursor: pointer;
}

.locations-cities-detail .temperature {
    position: absolute;
    right: 0;
    top: 1rem;
    color: var(--text-color-alt);
    font-family: "Righteous", sans-serif;
}

.locations-cities-detail .status {
    position: absolute;
    right: 0;
    bottom: 1rem;
    color: var(--template-color);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.locations-cities-detail .status img {
    width: 2rem;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.city-country-name {
    font-family: "Righteous", sans-serif;
    font-size: 2.5rem;
    color: var(--text-color-alt);
}

.status-icon img {
    width: 7rem;
}

.city-temperature {
    font-family: "Righteous", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-top: -1rem;
    position: relative;
    color: var(--text-color);
    z-index: -1;
}

.city-temperature::after {
    content: "°C";
    font-size: 1.2rem;
    position: absolute;
    bottom: 0.6rem;
    right: -2rem;
    font-weight: lighter;
    color: var(--text-color-alt);
}

.city-description {
    font-family: "Righteous", sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: var(--text-color-alt);
}

.update-time {
    margin-top: 3rem;
    color: var(--text-color-alt);
    letter-spacing: 0.03rem;
    font-size: 80%;
    margin-bottom: -3rem;
    opacity: 0.9;
}

.secondary-info {
    margin-top: 4rem;
    width: 150%;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.02rem;
    font-size: 90%;
    font-weight: bold;
    color: var(--text-color-alt);
}

.secondary-info span {
    width: 10rem;
    opacity: 0.7;
}

.secondary-info span:first-child {
    text-align: end;
}

.secondary-info span:nth-child(2) {
    text-align: center;
}

hr {
    background-color: var(--template-color);
    width: calc(100% - 2rem);
    height: 0.05rem;
    border: none;
    margin: 1rem;
    box-shadow: 0 0 0.2rem var(--template-color);
}

hr.first-hr {
    margin-top: 5rem;
}

.hourly-info {
    width: 100%;
    padding: 1rem;
}

.section-title {
    font-family: "Righteous", sans-serif;
    font-size: 1rem;
    color: var(--template-color);
}

.status-container {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    margin: 2rem 0;
}

.status-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.2rem -0.5rem #000;
    position: relative;
}

.status-title {
    color: var(--text-color-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    z-index: -1;
}

.status-title .date {
    font-size: 0.5rem;
    position: absolute;
    top: 1rem;
}

.status-icon {
    width: 50%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.status-temp {
    font-family: "Righteous", sans-serif;
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    z-index: -1;
}

.status-temp::after {
    content: "°C";
    font-size: 0.5rem;
    position: absolute;
    bottom: 0.3rem;
    right: -0.7rem;
}

.status-description {
    font-size: 0.8rem;
    color: var(--text-color-alt);
    margin-top: 0.5rem;
    z-index: -1;
}

.min-temp, .max-temp {
    font-size: 1rem;
    margin: 0.7rem;
}

.min-temp::after, .max-temp::after {
    bottom: 0.15rem;
}

.min-temp::after {
    right: -0.4rem;
}

.min-temp {
    color: #3c69ff;
}

.max-temp {
    color: #ff8c18;
}

.author {
    width: 100vw;
    font-size: 1.5vh;
    font-family: "Righteous", sans-serif;
    color: var(--text-color-alt);
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    text-shadow: 0 0 0.2rem #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author a {
    font-family: "Righteous", sans-serif;
    font-weight: bold;
    color: var(--template-color);
    text-decoration: none;
    margin: 0 0.4rem;
}

.author img {
    width: 1.5rem;
}

.error-section {
    color: var(--text-color-alt);
    font-size: 3vw;
    font-family: "Righteous", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.loader-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    animation: loaderLogo 1.5s infinite alternate;
}

.loader, .autoType {
    font-family: "Righteous", sans-serif;
    font-size: 2.7rem;
    color: var(--template-color);
}

.autoType {
    font-size: 3rem;
    margin-left: 0.3rem;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border-left: 0.5rem solid var(--template-color);
    border-top: 0.5rem solid var(--template-color);
    position: absolute;
    animation: loader 1.5s infinite alternate;
    transform: scale(0.2);
}

.welcome-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color-alt);
    z-index: -1;
}

.welcome {
    font-size: 2vw;
    z-index: -1;
}

.welcome i {
    color: var(--template-color);
    z-index: -1;
}

.welcome-span {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.welcome-span img {
    margin-left: 1vw;
    max-width: 15vw;
    z-index: -1;
}

.welcome-container .guide {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.welcome-container .guide .guide-info {
    font-size: 1.5vw;
    font-family: "Righteous", sans-serif;
    z-index: -1;
}

.welcome-container .guide .guide-detail {
    display: flex;
    align-items: center;
    margin-top: 1vw;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    z-index: -1;
}

.welcome-container .guide .guide-detail span {
    color: var(--template-color);
    font-family: "Righteous", sans-serif;
    font-size: 1.2vw;
    margin: 0;
    z-index: -1;
}


@keyframes loaderLogo {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0) scale(0.3);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}


@media screen and (max-width: 300px) {
    .cities-theme i {
        font-size: 1.1rem;
    }

    .location-icon {
        margin-left: 0.8rem;
    }

    .locations {
        width: 100%;
    }

    .city-country-name {
        font-size: 1.6rem;
    }

    .author {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 720px) {
    .info-container {
        margin-top: 2rem;
    }

    .secondary-info {
        flex-direction: column;
        align-items: center;
    }

    .secondary-info span {
        text-align: center !important;
        margin: 0.5rem;
    }

    .welcome-container {
        scale: 2;
    }
}



::-webkit-scrollbar {
    height: 0.25rem;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 50%;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--template-color);
}